In [35]:
#1.Create a Datatime index containing all the weekdays days of year 2019 and assign a random number to each of them in a dataframe.
import pandas as pd
import numpy as np


s = pd.date_range('2020-01-01','2020-12-31', freq='D')
weekdays = [d for d in s if d.weekday() not in (5, 6)]
df = pd.DataFrame(np.random.randint(0,500),
                 columns=["Random"],
                 index=weekdays)

            Random
2020-01-01     108
2020-01-02     108
2020-01-03     108
2020-01-06     108
2020-01-07     108

In [38]:
#2.Given Pandas series , height = [23,42,55] and weight = [71,32,48] . Create a dataframe with height and weight as column names

height = [23,42,55]
weight = [71,32,48]

df = pd.DataFrame({'height':height,'weight':weight})

   height  weight
0      23      71
1      42      32
2      55      48

In [41]:
#3.How to get the items of series A not present in series B .From ser1 remove items present in ser2.

ser1 = pd.Series([2,3,4,5])
ser2 = pd.Series([5,6,7,8])
result = ser1[~ser1.isin(ser2)]
result

0    2
1    3
2    4
dtype: int64

In [42]:
df_titanic = pd.read_csv(r'C:\Users\pc\Desktop\end to end data sets\titanic.csv')

In [52]:
#4.Compute the minimum, 25th percentile, median, 75th, and maximum of age in titanic dataset
df_titanic.head()
df_titanic['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [59]:
#5.How to get frequency counts of unique items of a series? Calculate the frequency counts of ‘SibSp’ column in titanic Dataset
df_titanic.groupby('SibSp').size()

SibSp
0    608
1    209
2     28
3     16
4     18
5      5
8      7
dtype: int64

In [65]:
#6. Keep only top 2 most frequent values as it is and replace everything else as ‘Other’ in ‘Embarked’ column of titanic dataset

df_titanic.SibSp[~df_titanic['SibSp'].isin(df_titanic['SibSp'].value_counts().index[:2])] = 'Other'

'Other'

In [82]:
#7.Bin the price column in titanic data set into 5 equal groups and get counts of each bin
pd.qcut(df_titanic['Fare'], q=5).value_counts()

(7.854, 10.5]        184
(21.679, 39.688]     180
(-0.001, 7.854]      179
(39.688, 512.329]    176
(10.5, 21.679]       172
Name: Fare, dtype: int64

In [83]:
#8.Count the number of missing values in each column?
df_titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [84]:
#9.Get the row number of the 5th largest value in the Age column of titanic dataset?
df_titanic.nlargest(5, 'Age', keep='first')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

In [92]:
#10.Get the row number of the 5th largest value in the Age column of titanic dataset?
df_titanic['Age'].nlargest(5).iloc[[-1]]

116    70.5
Name: Age, dtype: float64

In [93]:
#11.Normalize all columns in a dataframe?

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [95]:
#Get the indices of items of ser2 in ser1 as a list.
ser3 = pd.Series([10,9,6,5,3,1,12,8,13])
ser4 = pd.Series([1,3,10,13])
[pd.Index(ser3).get_loc(i) for i in ser4]

[5, 4, 0, 8]

In [96]:
#How to convert a series of date-strings to a timeseries?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [99]:
#Get the day of month, week number, day of year and day of week from ser
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.day_name())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

In [100]:
#14. Compute the euclidean distance between series (points) p and q, without using a packaged formula.

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

sum((p - q)**2)**.5

18.16590212458495

In [107]:
#15. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays/sundays)

ser = pd.Series(pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

0   2000-01-01
1   2000-01-08
2   2000-01-15
3   2000-01-22
4   2000-01-29
5   2000-02-05
6   2000-02-12
7   2000-02-19
8   2000-02-26
9   2000-03-04
dtype: datetime64[ns]

In [111]:
#Import every 50th row of BostonHousing dataset as a dataframe
df = pd.read_csv(r'C:\Users\pc\Desktop\end to end data sets\boston_house_price.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])